@using Kutuphane.WebUI.Models.Entity;
@model TblCategory

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">


    <div class="col-lg-12">


        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Ekleme Sayfası</h5>
            </div>

            <div class="card-body">
                <form class="row g-3" method="post">
                    <div class="col-md-6">
                        <label for="validationDefault01" class="form-label">Adı</label>
                        <input type="text" class="form-control" name="Ad" id="validationDefault01" value="" required>
                    </div>

                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Soyadı</label>
                        <input type="text" class="form-control" name="Soyad" id="validationDefault02" value="" required>
                    </div>

                   
                    <div class="col-md-12">
                        <label class="form-label" for="des-info-description-input">Detay</label>
                        <textarea class="form-control"  name="Detay" placeholder="Yazarın detaylı bilgisi..." id="des-info-description-input" rows="3"></textarea>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


